<!-- app.component.html -->
<div class="container mt-5">
  <h1>Usuarios</h1>

    <form #form="ngForm" (ngSubmit)="searchUser()" class="mb-3">
        <label for="username" class="form-label">Digita el nombre de usuario</label>
        <input type="text" name="username" id="username" [(ngModel)]="txtUser" class="form-control">
      <div class="text-center">
        <button type="submit" class="btn btn-outline-primary btn-center">Buscar</button>
      </div>
    </form>

    

      <ng-container *ngIf="!usuario && buttonClicked">
        <p class="text-center">No se encontraron resultados.</p>
      </ng-container>

      <ng-container *ngIf="usuario && buttonClicked">
        <div class="">
          <app-user [user]="usuario"></app-user>

        </div>
        <app-posts [user]="usuario"></app-posts>
      </ng-container>
</div>
