<div class="container mt-5">
  
    <div *ngIf="publicaciones && publicaciones.length > 0; else noCommentsMessage">
      <div *ngFor="let comment of publicaciones" class="card mb-3">
        <div class="card-body">
          <p class="card-text">{{comment.body}}</p>
          <div class="card-footer text-muted">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ff75a0" class="bi bi-heart-fill icon" viewBox="0 0 16 16">
            </svg>
          </div>
        </div>
      </div>
    </div>
  
    <ng-template #noCommentsMessage>
      <p>No comments available.</p>
    </ng-template>
  </div>